<div class="col-12">
    <h1 style="@ElementStyle; @H1Border">Child Component. Employee Age = @EmployeeAge, Counter: @Counter</h1>
</div>
<div class="col-lg-4 col-md-6 col-12">
    <input id="firstName" class="form-control" placeholder="Child Component Placeholder" @attributes="@_attrs" value="@Value"/>
</div>
<GrandChildComponent></GrandChildComponent>

@code {
    private readonly Dictionary<string, object> _attrs = new Dictionary<string, object>();

    private readonly Dictionary<string, object> _defaultChildAttrs = new Dictionary<string, object>
    {
        { "required", "required" },
        { "size", "100" },
        { "maxlength", "15" }
    };

    [Parameter]
    public Dictionary<string, object> DefaultParentAttrs { get; set; } = new Dictionary<string, object>();

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter]
    public string Value { get; set; }

    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }

    [CascadingParameter]
    public int EmployeeAge { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }

    protected override void OnParametersSet()
    {
        foreach (var (key, value) in _defaultChildAttrs)
            _attrs[key] = value;
        foreach (var (key, value) in DefaultParentAttrs)
            _attrs[key] = value;
        foreach (var (key, value) in AdditionalAttributes)
            _attrs[key] = value;
    }
}
